@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap');

.header {
    height: 100px;
    background-color: rgba(28, 106, 207, 1);
    color: white;
    font-family: Share Tech Mono;
    font-size: 48px;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
}

.header button {
    height: 44px;
    width: 155px;
    border-radius: 11px;
}

h1 {
    font-family: Share Tech Mono;
    font-size: 58px !important;
    margin-bottom: 0px !important;
}

h3 {
    font-family: Share Tech;
    margin: 15px;
    font-size: 30px;
}

button.join {
    font-family: 'Rambla', sans-serif;
    width: 435px;
    height: 34px;
    border-radius: 11px;
    background-color: #7CB5FF;
    color: white;
}

.body {
    margin: 250px;
}

div.cb1 {
    background-color: #4980FC;
    height: 225px;
}

div.logo { 
    float: left;
    height: 100px;
    position:relative;
    vertical-align: center;
}
div.logo h1{
    position: absolute;
    top: 20px;
    left: 75px;
}
div.loginButtons{
    float: right;
}

div.loginButtons button{
    border-radius: 10px !important;
    margin-right: 120px;
}

/* span {
    font-family: 'Rambla', sans-serif;
    font-size: 24px;
} */

