@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

nav{
    background: #000000;
    position: absolute;
    width: 200px;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

img {
    width: 50px;
    border-radius: 50%;
}

a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none !important;
    color: white !important;
    font-family: 'Red Rose', cursive;
}
