.text-editor {
    min-width: 600px;
    margin: 0 auto;
    height: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
  }

  .ql-editor {
    height: 95vh;
    min-width: 600px;
  }
  