/* @import url("https://cdn.quilljs.com/1.3.6/quill.snow.css"); */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");
.App {
  text-align: center;
  background: #202224;
  color: whitesmoke
  
}
/* WELCOME *//* WELCOME *//* WELCOME *//* WELCOME *//* WELCOME */
#welcomePage{
  font-family: Share Tech Mono;
  color: whitesmoke
}
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: rgba(28, 106, 207, 1);
  color: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5em;
}
.header > h1 {
  font-size: 4em;
}
.writerLogo{
  color: rgb(74, 54, 255);
}
.body {
  margin: 250px;;
}
.body > h3 {
  font-size: 2em;
}
.join {
  font-family: "Rambla", sans-serif;
  width: 435px;
  height: 34px;
  border-radius: 11px;
  background-color: #7cb5ff;
  color: white;
}
.cb1 {
  background-color: #4980fc;
  height: 550px;
  display: flex;
  align-items: center;
  padding-left: 190px;
  color: whitesmoke;
}
.cb2 {
  background-color: #181a1b;
  height: 400px;
  display: flex;
  padding-left: 166px;
  padding-right: 220px;
  color: whitesmoke;
}
.cb3 {
  background-color: #202224;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 220px;
  padding-right: 166px;
  color: whitesmoke;
}
.cb4 {
  background-color: #181a1b;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}
.description {
  margin: auto;
  
}
.description p {
  margin-top: 20px;
}
.cb1 img{
  height: 75%;
}
.cb3 img{
  height: 82%;
  margin-left: 80px;
}
p.description
.Google-Login{
  width: 25vw;
  justify-content: center;
  
}
footer {
  height: 100px;
  background-color: rgba(28, 106, 207, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sideBar-Container{
  display: flex;
  height: 100vh;
  position: absolute;
}
.sideBarCol-1{
  background: #3b5270;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sideBarCol-1 a {
  text-decoration: none !important;
  padding: 5px;
  color: whitesmoke;
}

.sideBarCol-2{
  background: #232e3c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-group-vertical>.btn, .btn-group>.btn {
  color: white;
 
}

.btn-secondary {
  background-color: #232e3c !important;
  border-color: #232e3c !important;
}

/*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB */
#hub{
  height: 100vh;
}
.hubMain{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.bkrd{
  background-image: url("https://guestpostgeek.com/wp-content/uploads/2019/02/106516868.jpg");
  background-position: center;
  background-size: cover;
  height: 35em;
  margin-bottom: -15em;
  width: 100vw; 
}
.hubNovelsSect-1{
 
}
.displayNovels{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 20em;
  justify-content: center;
  align-items: center;
  background: white;
  width: inherit;
  margin: 0 15em;
  border-radius: 1em;
}

.displayNovels::-webkit-scrollbar{
  display: none;
}
.novelCovers {
  background: rgb(47, 46, 119);
  height: 15em;
  width: 10em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  
}
.novelCovers >a{
  text-decoration: none;
  color: aliceblue;
}
.novelCovers:hover{
 transform: scale(1.1);
transition: all .2s ease-in;
}


.hubNovelsSect-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100em;
  width: 100vw;
  
}
.hubNotes{
  display: flex;
}
.hubNotesCol-1{
  background: #371a9e;
  width: 30em;
}
/* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS */
.novelCanvas {
  display: flex;
}

.HubSec-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.novelCanvas{
  /* background:red; */
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#novelEditor textarea {
  width: 50vw;
  height: 50vh;
}

textarea#editor{
  width: 50vw;
  height: 50vh;
}

.showChapters
, .bars{
  border: 1px dashed white;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}