/* @import url("https://cdn.quilljs.com/1.3.6/quill.snow.css"); */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap");

.App {
  text-align: center;
  background: whitesmoke;
}
/* WELCOME *//* WELCOME *//* WELCOME *//* WELCOME *//* WELCOME */
#welcomePage{
  font-family: Share Tech Mono;
}
.header {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: rgba(28, 106, 207, 1);
  color: white;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5em;
}
.header > h1 {
  font-size: 4em;
}
.writerLogo{
  color: rgb(74, 54, 255);
}
.body {
  margin: 250px;
}
.body > h3 {
  font-size: 2em;
}
.join {
  font-family: "Rambla", sans-serif;
  width: 435px;
  height: 34px;
  border-radius: 11px;
  background-color: #7cb5ff;
  color: white;
}
.cb1 {
  background-color: #4980fc;
  height: 550px;
  display: flex;
  align-items: center;
  padding-left: 190px;
}
.cb2 {
  background-color: white;
  height: 400px;
  display: flex;
  padding-left: 166px;
  padding-right: 220px;
}
.cb3 {
  background-color: whitesmoke;
  height: 400px;
  display: flex;
  align-items: center;
  padding-left: 220px;
  padding-right: 166px;
}
.cb4 {
  background-color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.description {
  margin: auto;
  
}
.description p {
  margin-top: 20px;
}
.cb1 img{
  height: 75%;
}
.cb3 img{
  height: 82%;
  margin-left: 80px;
}
p.description
.Google-Login{
  width: 25vw;
  justify-content: center;
  
}
footer {
  height: 100px;
  background-color: rgba(28, 106, 207, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sideBar-Container{
  display: flex;
  height: 100em;
  position: absolute;
}

.sideBarCol-1{
  background: #3b5270;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideBarCol-2{
  background: #232e3c;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}




/*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB *//*HUB */
#hub{
}
.hubMain{
  margin: 0px 22em;
  
}


.hubNovelsSect-1{

}

.displayNovels{
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
}

.displayNovels > h1{
  align-self: center;
}
.novelCovers {
  background: rgb(135, 133, 255);
  height: 15em;
  width: 10em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.novelCovers >a{
  text-decoration: none;
  color: aliceblue;
}

.novelCovers:hover{
 transform: scale(1.1);
transition: all .2s ease-in;
}

.hubNovelsSect-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hubNotes{
  display: flex;
}

.hubNotesCol-1{
  background: #802b03;
}
/* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS *//* NOVELS */
.novelCanvas {
  display: flex;
}