@import url("https://cdn.quilljs.com/1.3.6/quill.snow.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* HUB PAGE Copy from here */
.hubUserContent {
  display: flex;
  margin: 2em;
  flex-direction: column;
  justify-content: space-between;
}

.Hub-Novels-Div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HubNovels {
  background: wheat;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.novelCovers {
  background: Grey;
  height: 15em;
  width: 10em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hubSection2 {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
.hubNotes {
  margin: 0;
  padding: 0%;
  display: flex;
  background: burlywood;
  flex-direction: column;
}

.hubNotesList {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 25em;
  background: rgba(49, 40, 40, 1);
}
.hubNotesList li {
  list-style: none;
  font-size: 12px;
  height: 4.5em;
  margin-top: 10px;
  background: rgba(152, 84, 84, 1);
}
.hubNotesList ol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.hubNotesList ol > h4 {
  color: white;
}

.hubNotesList::-webkit-scrollbar {
  width: 5px;
  background: gray;
}
.hubNotesList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.hubNotesList a {
  color: black;
}
.hubNewNotes {
  /* CONFIGURE WIDTH TO BE TOTAL DIV - MYNOTES */
}

.hubNewNotes h4 {
  align-self: center;
  padding-left: 1em;
}
.hubNewNote {
  resize: none;
  width: 25em;
  height: 75%;
}
.inputNoteParent {
  display: row;
  flex-direction: column;
  width: 100%;
}

.parentNewNote {
  display: flex;
}

a {
  text-decoration: none;
}

.text-editor {
  min-width: 600px;
  margin: 0 auto;
  height: 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 95vh;
  min-width: 600px;
}

.novelCanvas {
  display: flex;
}

.novelCanvasParent{
  display: flex;
  flex-direction: column;
}
