h1 {
    margin-top: 0px;
}

div.notes {
    float: left;
    position: relative;
    margin-left: 200px;
    width: 200px;
    background: #707070;
    height: 100vh;
    font-family: 'Red Rose', cursive;
} 

div.dropdown {
    height: 150px;
    width: 200px;
    display: flex;
}

#dropdown-basic-button {
    background: #707070;
    border-style: none;
    width: 200px;
}

div.dropdown-menu.show {

}

 a.dropdown-item {
    color: #707070 !important;
}


.dropdown-item a:hover {
    color: yellow !important;
}